<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CalDigitHDProDrv</string>
	<key>CFBundleGetInfoString</key>
	<string>CalDigitHDProDrv 2.1.2 Copyright (c) 2004-2009 CalDigit, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.CalDigit.driver.HDPro</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>2.1.2</string>
	<key>CFBundleName</key>
	<string>CalDigitHDProDrv</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.2</string>
	<key>CFBundleVersion</key>
	<string>2.1.2</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>CalDigit</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.CalDigit.driver.HDPro</string>
			<key>IOClass</key>
			<string>com_CalDigit_driver_HDPro</string>
			<key>IOPCIMatch</key>
			<string>0x61011AB6 0x62011AB6 0x62201AB6</string>
			<key>IOProbeScore</key>
			<integer>400</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOUserClientClass</key>
			<string>com_CalDigit_UserClient</string>
			<key>Physical Interconnect Location</key>
			<string>External</string>
			<key>Read Time Out Duration</key>
			<integer>30000</integer>
			<key>Write Time Out Duration</key>
			<integer>30000</integer>
			<key>model</key>
			<string>CalDigit Disk Array</string>
                        <key>IOPCITunnelCompatible</key>
                        <true/>
			<key>IOPCIPauseCompatible</key>
			<true/>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.3.2</string>
		<key>com.apple.iokit.IOSCSIParallelFamily</key>
		<string>1.3.7</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleLibraries_x86_64</key>
	<dict>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.3.2</string>
		<key>com.apple.iokit.IOSCSIParallelFamily</key>
		<string>1.3.7</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
